.delete-modal {
  &__backdrop {
    composes: modal-backdrop show from global;
  }

  &__dialog {
    composes: modal d-block from global;
  }

  &__content {
    composes: modal-dialog modal-dialog-centered from global;
  }

  &__body {
    composes: modal-content from global;
  }

  &__text {
    composes: modal-body from global;
  }

  &__item-title {
    composes: fw-semibold mb-0 from global;
  }

  &__error {
    composes: alert alert-danger mb-0 from global;
  }

  &__footer {
    composes: modal-footer from global;
  }

  &__cancel {
    composes: btn btn-outline-secondary from global;
  }

  &__confirm {
    composes: btn btn-danger from global;
  }
}
